<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register 註冊</title>
</head>
<body>
    <form id="register-form" method="POST" action="{{ url_for('register') }}" class="login">
        <h1>Register 註冊</h1>
        <input type="text" name="userName" placeholder="Username 姓名" required />
        <input type="text" name="userID" placeholder="User ID 帳號" required />
        <input type="password" name="password" placeholder="Password 密碼" required />
        <input type="submit" value="Register 註冊">
    </form>
</body>
</html>